@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;700&family=Montserrat:ital,wght@0,400;0,700;1,600;1,700;1,800&display=swap');

:root {
    --bg-colour: #000249;
    --primary-colour: #AF9F0;
    --active-colour: #F6490D;
    --btn-colour: #1DCED8;
}

